<!DOCTYPE html>
<html>
  <head>
    <title>Alberta Fishing</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit." />
    <meta property="og:description" content="Etiam sed commodo neque, in lacinia turpis. Donec tincidunt bibendum sem eu eleifend. Pellentesque at urna iaculis, sagittis
  mi id, lacinia nulla." />
    <meta property="og:url" content="https://www.albertafishingguide.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../styles/global.css" />
  </head>
  <body>
    <div id="page-wrapper">
      <section class="bg-white padded-section">
        <h1>
          <!-- build:title -->
        </h1>
        <p>
          <!-- build:description -->
        </p>
      </section>
      <section class="padded-section">
        <h2>Example</h2>
        <!-- build:content -->
      </section>

      <section class="bg-white padded-section">
        <h2>HTML Markup</h2>
        <pre class="prettyprint">
        <xmp  style="padding:2rem;">
          <!-- build:content -->
        </xmp>
      </pre>
      </section>
      <section class="padded-section">
        <h2>Javascript Intialization</h2>
        <pre class="prettyprint">
        <xmp style="padding:2rem;">
          <!-- build:script -->
        </xmp>
      </pre>
      </section>
    </div>

    <!-- build:documentation -->
    <script src="../../scripts/global.js"></script>
  </body>
</html>
