<!-- build:title -->Cookies Disclaimer Component
<!-- /build:title -->
<!-- build:description -->Informs the user of the use of cookies and handles cookie permissions for ads and analytics
<!-- /build:description -->
<!-- build:content -->
<!-- partial:./example.html -->
<!-- partial -->
<!-- /build:content -->
<!-- build:script -->
<script>
    const cookiesDisclaimerContainer = document.querySelector('#cookies-disclaimer');
  
    if (cookiesDisclaimerContainer ) {
        new CookiesDisclaimer(cookiesDisclaimerContainer);
    }
  </script>
  <!-- /build:script -->
