/*- Primary -*/
$black: #2c2b25; // RGB: 44/43/37
$darkGreen: #787a62; // RGB: 120/122/98
$lightGreen: #9db092; // RGB: 157/176/146
$blue: #88a2c4; // RGB: 136/162/196
$brown: #836d5e; // RGB: 131/109/94

/*- Secondary -*/
$yellow: #ffcf63; // RGB: 255/207/99
$orange: #fb9f4e; // RGB: 251/159/78
