/*-----
  MOBILE/SHARED STYLES FIRST
-----*/

/*------ BLOCK ELEMENTS ------*/

/*- BLOCK: Horizontal Rule -*/
hr {
  width: 100%;
  height: 0.2rem;
  background: $yellow;
}

/*- BLOCK: Images -*/
img {
  width: 100%;
  height: auto;
  display: block;
}

/*- BLOCK: ORDERED LIST -*/
ol {
  padding-left: 2rem;
}

/*- BLOCK: Paragraphs -*/
p,
ul {
  margin-bottom: calc(#{$vertical-gap-medium} - 0.7rem);
  line-height: 2.8rem;
}

/*- BLOCK: UN-ORDERED LIST -*/
ul {
  margin-bottom: calc(#{$vertical-gap-large} - 0.7rem);
  padding-left: 2rem;

  li {
    margin-bottom: calc($vertical-gap-small/2);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*------ INLINE ELEMENTS ------*/
/*- INLINE: Anchor -*/
a {
  color: $orange;
}

/*- INLINE: Superscript -*/
sup {
  vertical-align: super;
  top: 0.2rem;
  font-size: 0.8rem;
  position: relative;
}

h1 {
  margin-bottom: calc(#{$vertical-gap-medium} - 1.3rem);
  @include sans-serif-font;
  font-size: 3.8rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  line-height: 100%;
  color: $orange;
}

h2 {
  margin-bottom: calc(#{$vertical-gap-medium} - 1.2rem);
  @include sans-serif-font;
  font-size: 3.8rem;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  line-height: 3.4rem;
  color: $orange;
}
